.App{
  font-size: .24rem;
  background-color: #fafafa;
  padding: 0 0.2rem;
  overflow: hidden;
  height: 100vh;
}

.box-scroll{
  height: 100%;
  overflow:scroll;
}

.adm-list-item-content{
  border-top: none !important;
  padding-right:0 !important
}
.adm-list-item{
  padding-left:0 !important;
}
.adm-list-item-content-main{
  padding: 0 !important;
}

.adm-list{
  --border-top:none !important;
  --border-bottom:none !important;
}

.placeholder {
  padding-top: 30vh;
  text-align: center;
  color: var(--adm-color-weak);
}

.loadingWrapper {
  font-size: 0.32rem;
  margin-bottom: 0.32rem;
}

.adm-list-body{
  background-color: #fafafa !important;
  margin-bottom: 0.16rem !important;
}

.tips-text{
  text-align: center;
  color: #666;
  font-size: 0.18rem;
  width: 100%;
  font-weight: 500;
  height: 0.8rem;
}
.header {
  padding: 0.16rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 0.08rem;
}

.header-btn{
  width: 0.9rem;
  margin-left: 0.15rem;
  height: 0.4rem;
}
.adm-input{
  flex: 1;
  background-color: #fafafa;
  border-radius: 0.18rem;
  padding: 0 0.15rem;
}

.adm-input-element{
  height: 0.5rem;
}
